<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pic_banner05"
        android:label="账号登录"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter android:label="租车" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_show"
            android:label="@string/title_activity_main_activity_show" >
        </activity>
    </application>

</manifest>
